<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjBLGmurVOy25K24GhwJ1mxLR7YnWzhy8</string>
	<key>GCM_SENDER_ID</key>
	<string>1090559860924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pixeldat.tongate</string>
	<key>PROJECT_ID</key>
	<string>tongate-4d2a0</string>
	<key>STORAGE_BUCKET</key>
	<string>tongate-4d2a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090559860924:ios:1bc2d26c6e3b4cc67fb0b9</string>
</dict>
</plist>